<div class="page-header">
  <h1>About</h1>
  <hr>
</div>
<div class="row">
  <div class="col-12">
    <p>Raidendooh is a next generation advertising platform aims to tackle a problem in traditional media industry which is a long and complex process. The new blockchain based platform will be a breakthough to the industry, advertiser can post an ad directly to the publisher reduce a time-to-publish from 30 days to 3 minutes where the payment is instant and don't require any intermediary.   </p>
  </div>
</div>
